### Maji Ndogo: From analysis to action
Beginning Our Data-Driven Journey in Maji Ndogo

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:Toussaint@localhost:3306/md_water_services1

Connecting to 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

In [41]:
pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: ipython-sql in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (0.3.9)
Requirement already satisfied: prettytable in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython-sql) (3.5.0)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython-sql) (1.4.4)
Requirement already satisfied: sqlparse in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: backcall in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.1)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

In [3]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\user\appdata\roaming\python\python311\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install jupysql --upgrade

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jupysql in c:\users\user\appdata\roaming\python\python311\site-packages (0.10.3)
Collecting jupysql
  Downloading jupysql-0.10.10-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: prettytable in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jupysql) (3.5.0)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jupysql) (1.4.4)
Requirement already satisfied: sqlparse in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jupysql) (3.1.2)
Requirement already satisfied: sqlglot>=11.3.7 in c:\users\user\appdata\roaming\python\python311\site-packages (from jupysql) (19.0.3)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.4-py3-none-any.whl.metadata (7.8 kB)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\users\user\appdata\roaming\python\python311\site-packages (from jupysql) (0.2.15)
Collecting ploomber-extension (from jupysql)
  Downloading ploomber_extension-0.1.1-py3-none-any.whl.metadata (7.5 kB)
Requirement already satisfied: click in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (8.1.7)
Requirement already satisfied: pyyaml in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Requirement already satisfied: posthog in c:\users\user\appdata\roaming\python\python311\site-packages (from ploomber-core>=0.2.7->jupysql) (3.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jinja2->jupysql) (2.1.1)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from prettytable->jupysql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from sqlalchemy->jupysql) (2.0.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from click->ploomber-core>=0.2.7->jupysql) (0.4.6)
Requirement already satisfied: requests<3.0,>=2.7 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in c:\users\user\appdata\roaming\python\python311\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.7.22)
Downloading jupysql-0.10.10-py3-none-any.whl (95 kB)
   ---------------------------------------- 0.0/95.7 kB ? eta -:--:--
   ---------------------------------------- 0.0/95.7 kB ? eta -:--:--
   ------------ --------------------------- 30.7/95.7 kB 1.4 MB/s eta 0:00:01
   ------------ --------------------------- 30.7/95.7 kB 1.4 MB/s eta 0:00:01
   ------------ --------------------------- 30.7/95.7 kB 1.4 MB/s eta 0:00:01
   ------------ --------------------------- 30.7/95.7 kB 1.4 MB/s eta 0:00:01
   ------------ --------------------------- 30.7/95.7 kB 1.4 MB/s eta 0:00:01
   ----------------- ---------------------- 41.0/95.7 kB 131.3 kB/s eta 0:00:01
   ------------------------- -------------- 61.4/95.7 kB 193.2 kB/s eta 0:00:01
   ----------------------------- ---------- 71.7/95.7 kB 187.3 kB/s eta 0:00:01
   ---------------------------------------- 95.7/95.7 kB 227.9 kB/s eta 0:00:00
Downloading jupysql_plugin-0.4.4-py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/249.8 kB ? eta -:--:--
   - -------------------------------------- 10.2/249.8 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/249.8 kB 435.7 kB/s eta 0:00:01
   --------- ----------------------------- 61.4/249.8 kB 544.7 kB/s eta 0:00:01
   -------------- ------------------------ 92.2/249.8 kB 585.1 kB/s eta 0:00:01
   ------------------ ------------------- 122.9/249.8 kB 554.9 kB/s eta 0:00:01
   ----------------------- -------------- 153.6/249.8 kB 573.4 kB/s eta 0:00:01
   ---------------------------- --------- 184.3/249.8 kB 557.9 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/249.8 kB 565.6 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/249.8 kB 565.6 kB/s eta 0:00:01
   ---------------------------------- --- 225.3/249.8 kB 509.6 kB/s eta 0:00:01
   -------------------------------------- 249.8/249.8 kB 510.8 kB/s eta 0:00:00
Downloading ploomber_extension-0.1.1-py3-none-any.whl (193 kB)
   ---------------------------------------- 0.0/193.1 kB ? eta -:--:--
   -- ------------------------------------- 10.2/193.1 kB ? eta -:--:--
   ------ -------------------------------- 30.7/193.1 kB 660.6 kB/s eta 0:00:01
   -------- ------------------------------ 41.0/193.1 kB 393.8 kB/s eta 0:00:01
   ------------ -------------------------- 61.4/193.1 kB 469.7 kB/s eta 0:00:01
   ------------------ -------------------- 92.2/193.1 kB 479.1 kB/s eta 0:00:01
   ------------------ -------------------- 92.2/193.1 kB 479.1 kB/s eta 0:00:01
   ------------------ -------------------- 92.2/193.1 kB 479.1 kB/s eta 0:00:01
   ------------------ -------------------- 92.2/193.1 kB 479.1 kB/s eta 0:00:01
   ------------------ -------------------- 92.2/193.1 kB 479.1 kB/s eta 0:00:01
   ------------------ -------------------- 92.2/193.1 kB 479.1 kB/s eta 0:00:01
   ------------------ -------------------- 92.2/193.1 kB 479.1 kB/s eta 0:00:01
   ------------------ -------------------- 92.2/193.1 kB 479.1 kB/s eta 0:00:01
   ------------------ -------------------- 92.2/193.1 kB 479.1 kB/s eta 0:00:01
   ---------------------- --------------- 112.6/193.1 kB 177.2 kB/s eta 0:00:01
   ------------------------ ------------- 122.9/193.1 kB 180.2 kB/s eta 0:00:01
   ------------------------ ------------- 122.9/193.1 kB 180.2 kB/s eta 0:00:01
   ---------------------------- --------- 143.4/193.1 kB 189.4 kB/s eta 0:00:01
   -------------------------------- ----- 163.8/193.1 kB 200.8 kB/s eta 0:00:01
   -------------------------------------- 193.1/193.1 kB 220.9 kB/s eta 0:00:00
Installing collected packages: ploomber-extension, jupysql-plugin, jupysql
  Attempting uninstall: jupysql-plugin
    Found existing installation: jupysql-plugin 0.2.6
    Uninstalling jupysql-plugin-0.2.6:
      Successfully uninstalled jupysql-plugin-0.2.6
  Attempting uninstall: jupysql
    Found existing installation: jupysql 0.10.3
    Uninstalling jupysql-0.10.3:
      Successfully uninstalled jupysql-0.10.3
Successfully installed jupysql-0.10.10 jupysql-plugin-0.4.4 ploomber-extension-0.1.1
Note: you may need to restart the kernel to use updated packages.

 Displaing Table name from  **md_water_services** Database

In [1]:
%%sql
select
distinct table_name

FROM
data_dictionary

UsageError: Cell magic `%%sql` not found.

#### Display the first 5 rows of  Employee Table

In [66]:
%%sql
select
*
from

employee
limit 5

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

5 rows affected.

+----------------------+----------------+---------------+-------+-------------------------+---------------+-----------+----------------+
| assigned_employee_id | employee_name  |  phone_number | email |         address         | province_name | town_name |    position    |
+----------------------+----------------+---------------+-------+-------------------------+---------------+-----------+----------------+
|          0           |  Amara Jengo   | +99637993287  |  None | 36 Pwani Mchangani Road |     Sokoto    |   Ilanga  | Field Surveyor |
|          1           |  Bello Azibo   | +99643864786  |  None |  129 Ziwa La Kioo Road  |    Kilimani   |   Rural   | Field Surveyor |
|          2           |  Bakari Iniko  | +99222599041  |  None |  18 Mlima Tazama Avenue |    Hawassa    |   Rural   | Field Surveyor |
|          3           | Malachi Mavuso | +99945849900  |  None |    100 Mogadishu Road   |     Akatsi    |   Lusaka  | Field Surveyor |
|          4           |  Cheche Buhle  | +99381679640  |  None |     1 Savanna Street    |     Akatsi    |   Rural   | Field Surveyor |
+----------------------+----------------+---------------+-------+-------------------------+---------------+-----------+----------------+

#### Display the first 5 rows of Location Table

In [67]:
%%sql
select
* 
from
location
limit 5

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

5 rows affected.

+-------------+----------------------+---------------+-----------+---------------+
| location_id |       address        | province_name | town_name | location_type |
+-------------+----------------------+---------------+-----------+---------------+
|  AkHa00000  |  2 Addis Ababa Road  |     Akatsi    |   Harare  |     Urban     |
|  AkHa00001  | 10 Addis Ababa Road  |     Akatsi    |   Harare  |     Urban     |
|  AkHa00002  |  9 Addis Ababa Road  |     Akatsi    |   Harare  |     Urban     |
|  AkHa00003  | 139 Addis Ababa Road |     Akatsi    |   Harare  |     Urban     |
|  AkHa00004  | 17 Addis Ababa Road  |     Akatsi    |   Harare  |     Urban     |
+-------------+----------------------+---------------+-----------+---------------+

In [68]:
%%sql
select
*
from
visits

limit 5

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

5 rows affected.

+-----------+-------------+--------------+---------------------+-------------+---------------+----------------------+
| record_id | location_id |  source_id   |    time_of_record   | visit_count | time_in_queue | assigned_employee_id |
+-----------+-------------+--------------+---------------------+-------------+---------------+----------------------+
|     0     |  SoIl32582  | SoIl32582224 | 2021-01-01 09:10:00 |      1      |       15      |          12          |
|     1     |  KiRu28935  | KiRu28935224 | 2021-01-01 09:17:00 |      1      |       0       |          46          |
|     2     |  HaRu19752  | HaRu19752224 | 2021-01-01 09:36:00 |      1      |       62      |          40          |
|     3     |  AkLu01628  | AkLu01628224 | 2021-01-01 09:53:00 |      1      |       0       |          1           |
|     4     |  AkRu03357  | AkRu03357224 | 2021-01-01 10:11:00 |      1      |       28      |          14          |
+-----------+-------------+--------------+---------------------+-------------+---------------+----------------------+

In [69]:
%%sql
select
* 
from
water_source
limit 5

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

5 rows affected.

+--------------+----------------------+-------------------------+
|  source_id   | type_of_water_source | number_of_people_served |
+--------------+----------------------+-------------------------+
| AkHa00000224 |     tap_in_home      |           956           |
| AkHa00001224 |  tap_in_home_broken  |           930           |
| AkHa00002224 |  tap_in_home_broken  |           486           |
| AkHa00003224 |         well         |           364           |
| AkHa00004224 |  tap_in_home_broken  |           942           |
+--------------+----------------------+-------------------------+

#### Selecting the type of water source in the project

In [70]:
%%sql
select

distinct type_of_water_source
from
water_source

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

5 rows affected.

+----------------------+
| type_of_water_source |
+----------------------+
|     tap_in_home      |
|  tap_in_home_broken  |
|         well         |
|      shared_tap      |
|        river         |
+----------------------+

#### Selecting Detail in visit table where  time_in_queue is greater than 500

In [71]:
%%sql
select
*
from
visits
where

time_in_queue>500
limit 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

10 rows affected.

+-----------+-------------+--------------+---------------------+-------------+---------------+----------------------+
| record_id | location_id |  source_id   |    time_of_record   | visit_count | time_in_queue | assigned_employee_id |
+-----------+-------------+--------------+---------------------+-------------+---------------+----------------------+
|    899    |  SoRu35083  | SoRu35083224 | 2021-01-16 10:14:00 |      6      |      515      |          28          |
|    2304   |  SoKo33124  | SoKo33124224 | 2021-02-06 07:53:00 |      5      |      512      |          16          |
|    2315   |  KiRu26095  | KiRu26095224 | 2021-02-06 14:32:00 |      3      |      529      |          8           |
|    3206   |  SoRu38776  | SoRu38776224 | 2021-02-20 15:03:00 |      5      |      509      |          46          |
|    3701   |  HaRu19601  | HaRu19601224 | 2021-02-27 12:53:00 |      3      |      504      |          0           |
|    4154   |  SoRu38869  | SoRu38869224 | 2021-03-06 10:44:00 |      2      |      533      |          24          |
|    5483   |  AmRu14089  | AmRu14089224 | 2021-03-27 18:15:00 |      4      |      509      |          12          |
|    9177   |  SoRu37635  | SoRu37635224 | 2021-05-22 18:48:00 |      2      |      515      |          1           |
|    9648   |  SoRu36096  | SoRu36096224 | 2021-05-29 11:24:00 |      2      |      533      |          3           |
|   11631   |  AkKi00881  | AkKi00881224 | 2021-06-26 06:15:00 |      6      |      502      |          32          |
+-----------+-------------+--------------+---------------------+-------------+---------------+----------------------+
Truncated to displaylimit of 10.

In [72]:
%%sql
select
*
from
water_source
where

source_id='AkKi00881224'
or
source_id='AkRu05234224'
limit 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

2 rows affected.

+--------------+----------------------+-------------------------+
|  source_id   | type_of_water_source | number_of_people_served |
+--------------+----------------------+-------------------------+
| AkKi00881224 |      shared_tap      |           3398          |
| AkRu05234224 |  tap_in_home_broken  |           496           |
+--------------+----------------------+-------------------------+

In [73]:
%%sql
select
count(*) as number_of_rows
from
water_quality
where
subjective_quality_score=10
and
visit_count=2

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

1 rows affected.

+----------------+
| number_of_rows |
+----------------+
|      218       |
+----------------+

###### Investigate pollution issues

In [74]:
%%sql
select
*
from
well_pollution
limit 5

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

5 rows affected.

+--------------+---------------------+---------------------------------------------------+---------------+-------------+--------------------------+
|  source_id   |         date        |                    description                    | pollutant_ppm |  biological |         results          |
+--------------+---------------------+---------------------------------------------------+---------------+-------------+--------------------------+
| KiRu28935224 | 2021-01-04 09:17:00 |             Bacteria: Giardia Lamblia             |      0.0      |   495.898   | Contaminated: Biological |
| AkLu01628224 | 2021-01-04 09:53:00 |              Clean Bacteria: E. coli              |      0.0      |   6.09608   | Contaminated: Biological |
| HaZa21742224 | 2021-01-04 10:37:00 | Inorganic contaminants: Zinc, Zinc, Lead, Cadmium |     2.715     |     0.0     |  Contaminated: Chemical  |
| HaRu19725224 | 2021-01-04 11:04:00 |                       Clean                       |   0.0288593   | 9.56996e-05 |          Clean           |
| SoRu35703224 | 2021-01-04 11:29:00 |              Clean Bacteria: E. coli              |      0.0      |   22.5009   | Contaminated: Biological |
+--------------+---------------------+---------------------------------------------------+---------------+-------------+--------------------------+

In [4]:
%%sql
select
*
from
well_pollution
where
results='clean'
and 
biological>0.01

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

64 rows affected.

+--------------+---------------------+---------------------------------+---------------+------------+---------+
|  source_id   |         date        |           description           | pollutant_ppm | biological | results |
+--------------+---------------------+---------------------------------+---------------+------------+---------+
| AkRu08936224 | 2021-01-08 09:22:00 |     Clean Bacteria: E. coli     |   0.0406458   |  35.0068   |  Clean  |
| AkRu06489224 | 2021-01-10 09:44:00 | Clean Bacteria: Giardia Lamblia |   0.0897904   |   38.467   |  Clean  |
| SoRu38011224 | 2021-01-14 15:35:00 |     Clean Bacteria: E. coli     |   0.0425095   |  19.2897   |  Clean  |
| AkKi00955224 | 2021-01-22 12:47:00 |     Clean Bacteria: E. coli     |   0.0812092   |  40.2273   |  Clean  |
| KiHa22929224 | 2021-02-06 13:54:00 |     Clean Bacteria: E. coli     |   0.0722537   |  18.4482   |  Clean  |
| KiRu25473224 | 2021-02-07 15:51:00 | Clean Bacteria: Giardia Lamblia |   0.0630094   |  24.4536   |  Clean  |
| HaRu17401224 | 2021-03-01 13:44:00 | Clean Bacteria: Giardia Lamblia |   0.0649209   |  25.8129   |  Clean  |
| AkRu07137224 | 2021-03-04 13:41:00 | Clean Bacteria: Giardia Lamblia |   0.0656843   |  18.2978   |  Clean  |
| KiRu27205224 | 2021-03-13 14:17:00 | Clean Bacteria: Giardia Lamblia |   0.0418018   |  49.4281   |  Clean  |
| AkLu02307224 | 2021-03-13 15:41:00 |     Clean Bacteria: E. coli     |   0.0709682   |   35.203   |  Clean  |
+--------------+---------------------+---------------------------------+---------------+------------+---------+
Truncated to displaylimit of 10.

In [5]:
%%sql 
select 
count(*) as number_of_rows
from
well_pollution
where
description	like '%clean%'
and
results='clean'
and
biological>0.01

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

1 rows affected.

+----------------+
| number_of_rows |
+----------------+
|       64       |
+----------------+

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

++
||
++
++

In [16]:
%%sql
update 
well_pollution
set
description='Clean Bacteria: Giardia Lamblia'
where
description=' Bacteria: Giardia Lamblia'

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

++
||
++
++

In [19]:
%%sql
UPDATE
well_pollution
SET
results = 'Contaminated: Biological'
WHERE
biological > 0.01 AND results = 'Clean';

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

64 rows affected.

++
||
++
++

#### creating the copy of table of well_pollution
to secure our table
A safer way to do the UPDATE is by testing the changes on a copy of the table first.
We will get a copy of well_pollution called well_pollution_copy. Now we can make the changes, and if we discover there is a
mistake in our code, we can just delete this table, and run it again.

In [3]:
%%sql
DROP TABLE IF EXISTS md_water_services1.well_pollution_copy;

create table  md_water_services1.well_pollution_copy
as(
select * from
    well_pollution
    
)

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

17383 rows affected.

++
||
++
++

In [4]:
%%sql
select 
distinct description
from
    well_pollution_copy

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

2635 rows affected.

+----------------------------------------------------------+
|                       description                        |
+----------------------------------------------------------+
|                Bacteria: Giardia Lamblia                 |
|                 Clean Bacteria: E. coli                  |
|    Inorganic contaminants: Zinc, Zinc, Lead, Cadmium     |
|                          Clean                           |
|             Inorganic contaminants: Cadmium              |
| Inorganic contaminants: Chromium, Barium, Chromium, Lead |
|                Parasite: Cryptosporidium                 |
|        Inorganic contaminants: Selenium, Arsenic         |
|     Inorganic contaminants: Silver, Zinc, Zinc, Lead     |
|              Inorganic contaminants: Silver              |
+----------------------------------------------------------+
Truncated to displaylimit of 10.


Then if we're sure it works as intended, we can change the table back to the well_pollution and delete the well_pollution_copy
table

In [25]:
%%sql
DROP TABLE
md_water_services1.well_pollution_copy;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

++
||
++
++

In [11]:
%%sql
update 
well_pollution
set
description	='Clean Bacteria: E. coli'
where
description	='Bacteria: E. coli'

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

++
||
++
++

In [12]:
%%sql
UPDATE
well_pollution
SET
description = 'Bacteria: Giardia Lamblia'
WHERE
description = 'Clean Bacteria: Giardia Lamblia';

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

++
||
++
++

In [13]:
%%sql
UPDATE
well_pollution
SET
results = 'Contaminated: Biological'
WHERE
biological > 0.01 AND results = 'Clean';

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

++
||
++
++

We can then check if our errors are fixed using a SELECT query on the well_pollution

In [15]:
%%sql
select
*
from
well_pollution
where
results='clean'
and 
biological>0.01

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

+-----------+------+-------------+---------------+------------+---------+
| source_id | date | description | pollutant_ppm | biological | results |
+-----------+------+-------------+---------------+------------+---------+
+-----------+------+-------------+---------------+------------+---------+

In [29]:
%%sql
select *
from
water_quality
WHERE
subjective_quality_score >10

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services1'

+-----------+--------------------------+-------------+
| record_id | subjective_quality_score | visit_count |
+-----------+--------------------------+-------------+
+-----------+--------------------------+-------------+